<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOSD.Properties.Settings.passwordsConnectionString"
            connectionString="server=localhost;User Id=root;password=110330V;Persist Security Info=True;database=passwords"
            providerName="MySql.Data.MySqlClient" />
        <add name="OOSD.Properties.Settings.testConnectionString" connectionString="server=54.254.169.189;User Id=sameera;password=sameera;Persist Security Info=True;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="OOSD.Properties.Settings.LibraryConnectionString"
            connectionString="server=54.254.169.189;User Id=sameera;password=sameera;database=Library;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>